In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('paper_data.xlsx', sheet_name='asset-milestone') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [3]:
df_comm = pd.read_excel('paper_data.xlsx', sheet_name='asset-commission') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [4]:
asset_commission_df = pd.read_csv('asset-commission.csv')
asset_df = pd.read_csv('asset.csv')
asset_milestone_df = pd.read_csv('asset-milestone.csv')

In [5]:
asset_commission_df

,asset,commission_year,fixed_cost,fixed_cost_storage_energy,investment_cost,investment_cost_storage_energy,investment_limit,investment_limit_storage_energy,storage_loss_from_stored_energy
0,NL_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
1,BE_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2,DE_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
3,FR_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
4,DK_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
389,FR_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
390,LV_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
391,PT_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
392,SK_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0

In [6]:
asset_milestone_df

,asset,initial_storage_level,investable,max_energy_timeframe_partition,milestone_year,min_energy_timeframe_partition,peak_demand,storage_inflows,units_on_cost
0,NL_E_Demand,NaN,False,NaN,2050,NaN,37487.252570,0,0.0
1,BE_E_Demand,NaN,False,NaN,2050,NaN,26322.908650,0,0.0
2,DE_E_Demand,NaN,False,NaN,2050,NaN,125041.124300,0,0.0
3,FR_E_Demand,NaN,False,NaN,2050,NaN,91601.006180,0,0.0
4,DK_E_Demand,NaN,False,NaN,2050,NaN,6316.626413,0,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
389,FR_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
390,LV_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
391,PT_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
392,SK_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0

In [7]:
df

,asset,milestone_year,investable,peak_demand,storage_inflows,initial_storage_level,min_energy_timeframe_partition,max_energy_timeframe_partition,units_on_cost
0,NL_E_Balance,2050,False,0.00,0,0.0,todo,todo,todo
1,NL_E_Demand,2050,False,21291.22,0,0.0,todo,todo,todo
2,NL_E_ENS,2050,True,0.00,0,0.0,todo,todo,todo
3,NL_Wind_Onshore,2050,True,0.00,0,0.0,todo,todo,todo
4,NL_Wind_Offshore,2050,True,0.00,0,0.0,todo,todo,todo
...,...,...,...,...,...,...,...,...,...
392,CY_Solar,2050,True,0.00,0,0.0,todo,todo,todo
393,CY_Battery,2050,True,0.00,0,NaN,todo,todo,todo
394,CY_PEMEC,2050,True,0.00,0,NaN,todo,todo,todo
395,CY_PEMFC,2050,True,0.00,0,NaN,todo,todo,todo
396,CY_H2Tank,2050,True,0.00,0,NaN,todo,todo,todo

In [8]:
investable_rows = df[df["investable"]]

In [9]:
temp = investable_rows.merge(df_comm, on="asset", how="left")

In [10]:
investable_assets = temp[["asset", "investment_cost"]]

KeyError: "['investment_cost'] not in index"

In [ ]:
investable_assets

In [ ]:
merged = asset_commission_df.merge(investable_assets[['asset', 'investment_cost']], on='asset', how='left', suffixes=('', '_y'))

merged['investment_cost'] = merged['investment_cost_y']

merged = merged.drop(columns=['investment_cost_y'])

In [ ]:
merged

In [ ]:
merged['storage_loss_from_stored_energy'] = pd.to_numeric(merged['storage_loss_from_stored_energy'], downcast='integer')

In [ ]:
merged['investment_cost'] = merged['investment_cost'].fillna(0.0)

In [ ]:
# merged.to_csv('asset-commission-fixed.csv', index=False)

In [ ]:
asset_commission_fixed_df = merged
investable_assets["investable"] = "true"

In [ ]:
investable_assets

In [ ]:
merged = asset_milestone_df.merge(investable_assets[['asset', 'investable']], on='asset', how='left', suffixes=('', '_y'))

merged['investable'] = merged['investable_y']

merged = merged.drop(columns=['investable_y'])

In [ ]:
merged['investable'] = merged['investable'].fillna("false")

In [ ]:
# merged['peak_demand'] = pd.to_numeric(merged['peak_demand'], downcast='integer')

In [ ]:
merged

In [ ]:
# merged.to_csv('asset-milestone-fixed.csv', index=False)

In [ ]:
asset_df

In [ ]:
investable_assets["investment_method"] = "simple"
investable_assets["investment_integer"] = "true"

In [ ]:
investable_assets

In [ ]:
merged = asset_df.merge(investable_assets[['asset', 'investment_method', 'investment_integer']], on='asset', how='left', suffixes=('', '_y'))

merged['investment_method'] = merged['investment_method_y']
merged['investment_integer'] = merged['investment_integer_y']


merged = merged.drop(columns=['investment_method_y'])
merged = merged.drop(columns=['investment_integer_y'])

In [ ]:
merged

In [ ]:
merged['investment_method'] = merged['investment_method'].fillna("none")
merged['investment_integer'] = merged['investment_integer'].fillna("false")

In [ ]:
merged

In [ ]:
merged = merged.applymap(lambda x: str(x).lower() if isinstance(x, bool) else x)

In [ ]:
merged['energy_to_power_ratio'] = pd.to_numeric(merged['energy_to_power_ratio'], downcast='integer')

In [ ]:
merged

In [ ]:
# merged.to_csv('asset-fixed.csv', index=False)