In [1]:
import pandas as pd

In [2]:
partition_map = {
    'NL': 1,
    'BE': 2, 'DE': 2, 'UK': 2, 'DK': 2,
    'FR': 3, 'CH': 3, 'AT': 3, 'IE': 3, 'LU': 3, 'CZ': 3, 'PL': 3, 'NO': 3, 'SE': 3,
    'ES': 4, 'IT': 4, 'SI': 4, 'HU': 4, 'SK': 4, 'FI': 4, 'LT': 4,
    'PT': 5, 'HR': 5, 'RO': 5, 'GR': 5, 'LV': 5, 'EE': 5, 'CY': 5, 'MT': 5,
    'BG': 6
}

In [3]:
df = pd.read_excel('paper_data.xlsx', sheet_name='flow')

In [4]:
df

,from_asset,to_asset,carrier,is_transport,capacity,technical_lifetime,economic_lifetime,discount_rate,investment_integer
0,NL_E_Balance,BE_E_Demand,electricity,True,1000,10,1,0.02,False
1,BE_E_Balance,NL_E_Demand,electricity,True,1000,10,1,0.02,False
2,NL_E_Balance,NL_E_Demand,electricity,False,1000,10,1,0.02,False
3,NL_E_ENS,NL_E_Demand,electricity,False,1000,10,1,0.02,False
4,NL_Wind_Onshore,NL_E_Balance,electricity,False,1000,10,1,0.02,False
...,...,...,...,...,...,...,...,...,...
616,CY_Battery,CY_PEMEC,electricity,False,1000,10,1,0.02,False
617,CY_E_Balance,CY_PEMEC,electricity,False,1000,10,1,0.02,False
618,CY_PEMEC,CY_H2Tank,hydrogen,False,1000,10,1,0.02,False
619,CY_PEMFC,CY_E_Demand,electricity,False,1000,10,1,0.02,False
620,CY_H2Tank,CY_PEMFC,hydrogen,False,1000,10,1,0.02,False

In [5]:
only_transports_df = df[df['from_asset'].str.contains('E_Balance') & df['to_asset'].str.contains('E_Demand')]

In [6]:
only_transports_df

,from_asset,to_asset,carrier,is_transport,capacity,technical_lifetime,economic_lifetime,discount_rate,investment_integer
0,NL_E_Balance,BE_E_Demand,electricity,True,1000,10,1,0.02,False
1,BE_E_Balance,NL_E_Demand,electricity,True,1000,10,1,0.02,False
2,NL_E_Balance,NL_E_Demand,electricity,False,1000,10,1,0.02,False
17,BE_E_Balance,BE_E_Demand,electricity,False,1000,10,1,0.02,False
33,DE_E_Balance,NL_E_Demand,electricity,True,1000,10,1,0.02,False
...,...,...,...,...,...,...,...,...,...
588,HU_E_Balance,RO_E_Demand,electricity,True,1000,10,1,0.02,False
589,RO_E_Balance,RO_E_Demand,electricity,False,1000,10,1,0.02,False
608,CY_E_Balance,GR_E_Demand,electricity,True,1000,10,1,0.02,False
609,GR_E_Balance,CY_E_Demand,electricity,True,1000,10,1,0.02,False
610,CY_E_Balance,CY_E_Demand,electricity,False,1000,10,1,0.02,False

In [7]:
new_df = only_transports_df[['from_asset', 'to_asset']]

In [12]:
europe_graph = {}

for country in partition_map:
#     country = 'PT'
    interested_in = new_df[new_df['from_asset'].str.contains(country) | new_df['to_asset'].str.contains(country)]

    unique_froms = interested_in['from_asset'].unique()
    unique_tos = interested_in['to_asset'].unique()

    uniques = [*unique_froms, *unique_tos]
    uniques_cut = [elem[0:2] for elem in uniques]

    actual_uniques = set(uniques_cut)

    actual_uniques.remove(country)

    europe_graph[country] = actual_uniques

{'NL': 1, 'BE': 2, 'DE': 2, 'UK': 2, 'DK': 2, 'FR': 3, 'CH': 3, 'AT': 3, 'IE': 3, 'LU': 3, 'CZ': 3, 'PL': 3, 'NO': 3, 'SE': 3, 'ES': 4, 'IT': 4, 'SI': 4, 'HU': 4, 'SK': 4, 'FI': 4, 'LT': 4, 'PT': 5, 'HR': 5, 'RO': 5, 'GR': 5, 'LV': 5, 'EE': 5, 'CY': 5, 'MT': 5, 'BG': 6}
N
L

KeyError: 'N'