In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# flows = pd.read_csv('results/results/geographical-expensive-tightSUSD/var_flows.csv')
flows = pd.read_csv('../geographical-none-noSUSD/var_flow.csv')

In [3]:
flows

,id,from_asset,to_asset,year,rep_period,efficiency,flow_coefficient_in_capacity_constraint,time_block_start,time_block_end,solution
0,1,NL_Balance,NL_E_Demand,2050,1,1.0,1.0,1,1,11197.889510
1,2,NL_Balance,NL_E_Demand,2050,1,1.0,1.0,2,2,11071.527663
2,3,NL_Balance,NL_E_Demand,2050,1,1.0,1.0,3,3,11047.503338
3,4,NL_Balance,NL_E_Demand,2050,1,1.0,1.0,4,4,11169.451882
4,5,NL_Balance,NL_E_Demand,2050,1,1.0,1.0,5,5,11719.142693
...,...,...,...,...,...,...,...,...,...,...
44315,44316,NO_Wind_Offshore,NO_Balance,2050,10,1.0,1.0,20,20,0.000000
44316,44317,NO_Wind_Offshore,NO_Balance,2050,10,1.0,1.0,21,21,0.000000
44317,44318,NO_Wind_Offshore,NO_Balance,2050,10,1.0,1.0,22,22,0.000000
44318,44319,NO_Wind_Offshore,NO_Balance,2050,10,1.0,1.0,23,23,0.000000
44319,44320,NO_Wind_Offshore,NO_Balance,2050,10,1.0,1.0,24,24,0.000000

In [4]:
# flows_to_nl = flows[(flows['to_asset'] == 'NL_Balance') | (flows['from_asset'] == 'NL_Balance')]

In [10]:
flows_to_nl = flows.copy()

In [11]:
flows_to_nl = flows_to_nl[flows_to_nl['from_asset'].str.contains('Balance') & flows_to_nl['to_asset'].str.contains('Balance')]

In [12]:
flows_to_nl

,id,from_asset,to_asset,year,rep_period,efficiency,flow_coefficient_in_capacity_constraint,time_block_start,time_block_end,solution
2350,2351,NL_Balance,DK_Balance,2050,1,1.0,1.0,1,1,0.0
2351,2352,NL_Balance,DK_Balance,2050,1,1.0,1.0,2,2,0.0
2352,2353,NL_Balance,DK_Balance,2050,1,1.0,1.0,3,3,0.0
2353,2354,NL_Balance,DK_Balance,2050,1,1.0,1.0,4,4,0.0
2354,2355,NL_Balance,DK_Balance,2050,1,1.0,1.0,5,5,0.0
...,...,...,...,...,...,...,...,...,...,...
44279,44280,DE_Balance,LU_Balance,2050,10,1.0,1.0,20,20,0.0
44280,44281,DE_Balance,LU_Balance,2050,10,1.0,1.0,21,21,0.0
44281,44282,DE_Balance,LU_Balance,2050,10,1.0,1.0,22,22,0.0
44282,44283,DE_Balance,LU_Balance,2050,10,1.0,1.0,23,23,0.0
44283,44284,DE_Balance,LU_Balance,2050,10,1.0,1.0,24,24,0.0

In [13]:
flows_to_nl[flows_to_nl['solution'] > 0]

Empty DataFrame
Columns: [id, from_asset, to_asset, year, rep_period, efficiency, flow_coefficient_in_capacity_constraint, time_block_start, time_block_end, solution]
Index: []