# Add Investment Data for Assets from Tulipa 0.7.0 to Tulipa 0.15.0

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('paper_data.xlsx', sheet_name='asset-commission') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [3]:
asset_commission_df = pd.read_csv('asset_commission.csv')
asset_df = pd.read_csv('asset.csv')
asset_milestone_df = pd.read_csv('asset_milestone.csv')

In [4]:
asset_commission_df

,asset,commission_year,fixed_cost,fixed_cost_storage_energy,investment_cost,investment_cost_storage_energy,investment_limit,investment_limit_storage_energy,storage_loss_from_stored_energy
0,NL_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
1,BE_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2,DE_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
3,FR_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
4,DK_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
386,BG_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
387,FR_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
388,LV_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
389,PT_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
390,SK_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0

In [5]:
asset_milestone_df

,asset,initial_storage_level,investable,max_energy_timeframe_partition,milestone_year,min_energy_timeframe_partition,peak_demand,storage_inflows,units_on_cost
0,NL_E_Demand,NaN,False,NaN,2050,NaN,37487.252570,0,0.0
1,BE_E_Demand,NaN,False,NaN,2050,NaN,26322.908650,0,0.0
2,DE_E_Demand,NaN,False,NaN,2050,NaN,125041.124300,0,0.0
3,FR_E_Demand,NaN,False,NaN,2050,NaN,91601.006180,0,0.0
4,DK_E_Demand,NaN,False,NaN,2050,NaN,6316.626413,0,0.0
...,...,...,...,...,...,...,...,...,...
386,BG_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
387,FR_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
388,LV_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
389,PT_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
390,SK_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0

In [6]:
df

,asset,commission_year,fixed_cost,investment_cost,investment_limit,fixed_cost_storage_energy,investment_cost_storage_energy,investment_limit_storage_energy,storage_lost_from_stored_energy
0,NL_E_Balance,2050,????,0.000000,NaN,todo,todo,todo,0
1,NL_E_Demand,2050,6 months,0.000000,NaN,todo,todo,todo,0
2,NL_E_ENS,2050,Venom,0.000000,NaN,todo,todo,todo,0
3,NL_Wind_Onshore,2050,Malaysia,77356.328657,NaN,todo,todo,todo,0
4,NL_Wind_Offshore,2050,NaN,119732.617774,NaN,todo,todo,todo,0
...,...,...,...,...,...,...,...,...,...
392,CY_Solar,2050,todo,34342.980275,NaN,todo,todo,todo,0
393,CY_Battery,2050,todo,77577.850306,NaN,todo,todo,todo,0
394,CY_PEMEC,2050,todo,69706.055056,NaN,todo,todo,todo,0
395,CY_PEMFC,2050,todo,147495.026006,NaN,todo,todo,todo,0
396,CY_H2Tank,2050,todo,12682.673923,NaN,todo,todo,todo,0

In [7]:
investable_rows = df[df["investment_cost"] > 0.0]

In [8]:
investable_assets = investable_rows[["asset", "investment_cost"]]

In [9]:
investable_assets

                asset  investment_cost
3     NL_Wind_Onshore     77356.328657
4    NL_Wind_Offshore    119732.617774
5            NL_Solar     34342.980275
6          NL_Battery     77577.850306
9            NL_PEMEC     69706.055056
..                ...              ...
392          CY_Solar     34342.980275
393        CY_Battery     77577.850306
394          CY_PEMEC     69706.055056
395          CY_PEMFC    147495.026006
396         CY_H2Tank     12682.673923

[197 rows x 2 columns]

In [10]:
merged = asset_commission_df.merge(investable_assets[['asset', 'investment_cost']], on='asset', how='left', suffixes=('', '_y'))

merged['investment_cost'] = merged['investment_cost_y']

merged = merged.drop(columns=['investment_cost_y'])

In [11]:
merged

,asset,commission_year,fixed_cost,fixed_cost_storage_energy,investment_cost,investment_cost_storage_energy,investment_limit,investment_limit_storage_energy,storage_loss_from_stored_energy
0,NL_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
1,BE_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
2,DE_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
3,FR_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
4,DK_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
386,BG_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
387,FR_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
388,LV_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
389,PT_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
390,SK_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0

In [12]:
# merged['storage_loss_from_stored_energy'] = pd.to_numeric(merged['storage_loss_from_stored_energy'], downcast='integer')

In [13]:
merged['investment_cost'] = merged['investment_cost'].fillna(0.0)

In [14]:
merged.to_csv('asset-commission-fixed.csv', index=False)

In [15]:
asset_commission_fixed_df = merged
investable_assets["investable"] = "true"

C:\Users\urosg\AppData\Local\Temp\ipykernel_35360\533491160.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investable_assets["investable"] = "true"

In [16]:
investable_assets

                asset  investment_cost investable
3     NL_Wind_Onshore     77356.328657       true
4    NL_Wind_Offshore    119732.617774       true
5            NL_Solar     34342.980275       true
6          NL_Battery     77577.850306       true
9            NL_PEMEC     69706.055056       true
..                ...              ...        ...
392          CY_Solar     34342.980275       true
393        CY_Battery     77577.850306       true
394          CY_PEMEC     69706.055056       true
395          CY_PEMFC    147495.026006       true
396         CY_H2Tank     12682.673923       true

[197 rows x 3 columns]

In [17]:
merged = asset_milestone_df.merge(investable_assets[['asset', 'investable']], on='asset', how='left', suffixes=('', '_y'))

merged['investable'] = merged['investable_y']

merged = merged.drop(columns=['investable_y'])

In [18]:
merged['investable'] = merged['investable'].fillna("false")

In [19]:
merged['peak_demand'] = pd.to_numeric(merged['peak_demand'], downcast='integer')

In [20]:
merged

,asset,initial_storage_level,investable,max_energy_timeframe_partition,milestone_year,min_energy_timeframe_partition,peak_demand,storage_inflows,units_on_cost
0,NL_E_Demand,NaN,false,NaN,2050,NaN,37487.252570,0,0.0
1,BE_E_Demand,NaN,false,NaN,2050,NaN,26322.908650,0,0.0
2,DE_E_Demand,NaN,false,NaN,2050,NaN,125041.124300,0,0.0
3,FR_E_Demand,NaN,false,NaN,2050,NaN,91601.006180,0,0.0
4,DK_E_Demand,NaN,false,NaN,2050,NaN,6316.626413,0,0.0
...,...,...,...,...,...,...,...,...,...
386,BG_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
387,FR_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
388,LV_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
389,PT_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
390,SK_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0

In [21]:
merged.to_csv('asset-milestone-fixed.csv', index=False)

In [22]:
asset_df

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
387,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
388,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [23]:
investable_assets["investment_method"] = "simple"
investable_assets["investment_integer"] = "true"

C:\Users\urosg\AppData\Local\Temp\ipykernel_35360\3380157677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investable_assets["investment_method"] = "simple"
C:\Users\urosg\AppData\Local\Temp\ipykernel_35360\3380157677.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investable_assets["investment_integer"] = "true"

In [24]:
investable_assets

,asset,investment_cost,investable,investment_method,investment_integer
3,NL_Wind_Onshore,77356.328657,true,simple,true
4,NL_Wind_Offshore,119732.617774,true,simple,true
5,NL_Solar,34342.980275,true,simple,true
6,NL_Battery,77577.850306,true,simple,true
9,NL_PEMEC,69706.055056,true,simple,true
...,...,...,...,...,...
392,CY_Solar,34342.980275,true,simple,true
393,CY_Battery,77577.850306,true,simple,true
394,CY_PEMEC,69706.055056,true,simple,true
395,CY_PEMFC,147495.026006,true,simple,true
396,CY_H2Tank,12682.673923,true,simple,true

In [25]:
merged = asset_df.merge(investable_assets[['asset', 'investment_method', 'investment_integer']], on='asset', how='left', suffixes=('', '_y'))

merged['investment_method'] = merged['investment_method_y']
merged['investment_integer'] = merged['investment_integer_y']


merged = merged.drop(columns=['investment_method_y'])
merged = merged.drop(columns=['investment_integer_y'])

In [26]:
merged

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
387,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
388,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [27]:
merged['investment_method'] = merged['investment_method'].fillna("none")
merged['investment_integer'] = merged['investment_integer'].fillna("false")

In [28]:
merged

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
387,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
388,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [29]:
merged = merged.applymap(lambda x: str(x).lower() if isinstance(x, bool) else x)

In [30]:
merged['energy_to_power_ratio'] = pd.to_numeric(merged['energy_to_power_ratio'], downcast='integer')

In [31]:
merged

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
387,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
388,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
389,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
390,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN

In [32]:
merged.to_csv('asset-fixed.csv', index=False)