In [1]:
import pandas as pd

In [2]:
flow_commission_df = pd.read_csv('flow_commission.csv')
flow_df = pd.read_csv('flow.csv')
flow_milestone_df = pd.read_csv('flow_milestone.csv')

In [3]:
balance_to_balance_df = flow_df[(flow_df['from_asset'].str.contains("Balance")) & ((flow_df['to_asset'].str.contains('Balance')))]

In [4]:
balance_to_balance_df

,capacity,carrier,discount_rate,economic_lifetime,from_asset,investment_integer,is_transport,technical_lifetime,to_asset
440,1000.0,electricity,0.0,1.0,NL_E_Balance,False,True,1.0,BE_E_Balance
441,1000.0,electricity,0.0,1.0,DE_E_Balance,False,True,1.0,NL_E_Balance
442,1000.0,electricity,0.0,1.0,DE_E_Balance,False,True,1.0,BE_E_Balance
443,1000.0,electricity,0.0,1.0,FR_E_Balance,False,True,1.0,DE_E_Balance
444,1000.0,electricity,0.0,1.0,FR_E_Balance,False,True,1.0,BE_E_Balance
...,...,...,...,...,...,...,...,...,...
496,1000.0,electricity,0.0,1.0,RO_E_Balance,False,True,1.0,BG_E_Balance
497,1000.0,electricity,0.0,1.0,RO_E_Balance,False,True,1.0,HU_E_Balance
498,1000.0,electricity,0.0,1.0,CY_E_Balance,False,True,1.0,GR_E_Balance
499,1000.0,electricity,0.0,1.0,OBZLL_E_Balance,False,True,1.0,NL_E_Balance
500,1000.0,electricity,0.0,1.0,OBZLL_E_Balance,False,True,1.0,UK_E_Balance

In [5]:
balance_to_balance_df['investable'] = 'true'
balance_to_balance_df['investment_cost'] = 2.6957550984694505

C:\Users\urosg\AppData\Local\Temp\ipykernel_11296\3839145157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balance_to_balance_df['investable'] = 'true'
C:\Users\urosg\AppData\Local\Temp\ipykernel_11296\3839145157.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  balance_to_balance_df['investment_cost'] = 2.6957550984694505

In [6]:
merged = flow_commission_df.merge(balance_to_balance_df[['from_asset', 'to_asset', 'investment_cost']], on=['from_asset', 'to_asset'], how='left', suffixes=('', '_y'))


# merged
merged['investment_cost'] = merged['investment_cost_y']

merged = merged.drop(columns=['investment_cost_y'])

# merged['investable'] = merged['investable_y']

# merged = merged.drop(columns=['investable_y'])

merged['investment_cost'] = merged['investment_cost'].fillna(0.0)
# merged['investable'] = merged['investable'].fillna('false')

,commission_year,efficiency,fixed_cost,flow_coefficient_in_capacity_constraint,from_asset,investment_cost,investment_limit,to_asset,investable,investment_cost_y
0,2050,1.0,0.0,1.0,NL_E_Balance,0.0,NaN,NL_E_Demand,NaN,NaN
1,2050,1.0,0.0,1.0,NL_E_ENS,0.0,NaN,NL_E_Demand,NaN,NaN
2,2050,1.0,0.0,1.0,NL_Wind_Onshore,0.0,NaN,NL_E_Balance,NaN,NaN
3,2050,1.0,0.0,1.0,NL_Wind_Offshore,0.0,NaN,NL_E_Balance,NaN,NaN
4,2050,1.0,0.0,1.0,NL_Solar,0.0,NaN,NL_E_Balance,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
496,2050,1.0,0.0,1.0,RO_E_Balance,0.0,NaN,BG_E_Balance,true,2.695755
497,2050,1.0,0.0,1.0,RO_E_Balance,0.0,NaN,HU_E_Balance,true,2.695755
498,2050,1.0,0.0,1.0,CY_E_Balance,0.0,NaN,GR_E_Balance,true,2.695755
499,2050,1.0,0.0,1.0,OBZLL_E_Balance,0.0,NaN,NL_E_Balance,true,2.695755
500,2050,1.0,0.0,1.0,OBZLL_E_Balance,0.0,NaN,UK_E_Balance,true,2.695755

In [7]:
merged.to_csv('flow-commission-fixed-balances.csv', index=False)

NameError: name 'merged_final' is not defined

In [9]:
merged = flow_milestone_df.merge(balance_to_balance_df[['from_asset', 'to_asset', 'investable']], on=['from_asset', 'to_asset'], how='left', suffixes=('', '_y'))


# merged
# merged['investment_cost'] = merged['investment_cost_y']

# merged = merged.drop(columns=['investment_cost_y'])

merged['investable'] = merged['investable_y']

merged = merged.drop(columns=['investable_y'])

# merged['investment_cost'] = merged['investment_cost'].fillna(0.0)
merged['investable'] = merged['investable'].fillna('false')

In [10]:
merged.to_csv('flow-milestone-fixed-balances.csv', index=False)