In [1]:
import pandas as pd

In [2]:
asset_commission = pd.read_excel('paper_data.xlsx', sheet_name='asset-commission') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [3]:
asset_milestone = pd.read_excel('paper_data.xlsx', sheet_name='asset-milestone') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [4]:
merged = asset_commission.merge(asset_milestone, on="asset", how="left")

In [5]:
merged

,asset,commission_year,fixed_cost,investment_cost,investment_limit,fixed_cost_storage_energy,investment_cost_storage_energy,investment_limit_storage_energy,storage_lost_from_stored_energy,milestone_year,investable,peak_demand,storage_inflows,initial_storage_level,min_energy_timeframe_partition,max_energy_timeframe_partition,units_on_cost
0,NL_E_Balance,2050,????,0.000000,NaN,todo,todo,todo,0,2050,False,0.00,0,0.0,todo,todo,todo
1,NL_E_Demand,2050,6 months,0.000000,NaN,todo,todo,todo,0,2050,False,21291.22,0,0.0,todo,todo,todo
2,NL_E_ENS,2050,Venom,0.000000,NaN,todo,todo,todo,0,2050,True,0.00,0,0.0,todo,todo,todo
3,NL_Wind_Onshore,2050,Malaysia,77356.328657,NaN,todo,todo,todo,0,2050,True,0.00,0,0.0,todo,todo,todo
4,NL_Wind_Offshore,2050,NaN,119732.617774,NaN,todo,todo,todo,0,2050,True,0.00,0,0.0,todo,todo,todo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,CY_Solar,2050,todo,34342.980275,NaN,todo,todo,todo,0,2050,True,0.00,0,0.0,todo,todo,todo
393,CY_Battery,2050,todo,77577.850306,NaN,todo,todo,todo,0,2050,True,0.00,0,NaN,todo,todo,todo
394,CY_PEMEC,2050,todo,69706.055056,NaN,todo,todo,todo,0,2050,True,0.00,0,NaN,todo,todo,todo
395,CY_PEMFC,2050,todo,147495.026006,NaN,todo,todo,todo,0,2050,True,0.00,0,NaN,todo,todo,todo
396,CY_H2Tank,2050,todo,12682.673923,NaN,todo,todo,todo,0,2050,True,0.00,0,NaN,todo,todo,todo

In [6]:
asset_commission

,asset,commission_year,fixed_cost,investment_cost,investment_limit,fixed_cost_storage_energy,investment_cost_storage_energy,investment_limit_storage_energy,storage_lost_from_stored_energy
0,NL_E_Balance,2050,????,0.000000,NaN,todo,todo,todo,0
1,NL_E_Demand,2050,6 months,0.000000,NaN,todo,todo,todo,0
2,NL_E_ENS,2050,Venom,0.000000,NaN,todo,todo,todo,0
3,NL_Wind_Onshore,2050,Malaysia,77356.328657,NaN,todo,todo,todo,0
4,NL_Wind_Offshore,2050,NaN,119732.617774,NaN,todo,todo,todo,0
...,...,...,...,...,...,...,...,...,...
392,CY_Solar,2050,todo,34342.980275,NaN,todo,todo,todo,0
393,CY_Battery,2050,todo,77577.850306,NaN,todo,todo,todo,0
394,CY_PEMEC,2050,todo,69706.055056,NaN,todo,todo,todo,0
395,CY_PEMFC,2050,todo,147495.026006,NaN,todo,todo,todo,0
396,CY_H2Tank,2050,todo,12682.673923,NaN,todo,todo,todo,0

In [7]:
asset_milestone

,asset,milestone_year,investable,peak_demand,storage_inflows,initial_storage_level,min_energy_timeframe_partition,max_energy_timeframe_partition,units_on_cost
0,NL_E_Balance,2050,False,0.00,0,0.0,todo,todo,todo
1,NL_E_Demand,2050,False,21291.22,0,0.0,todo,todo,todo
2,NL_E_ENS,2050,True,0.00,0,0.0,todo,todo,todo
3,NL_Wind_Onshore,2050,True,0.00,0,0.0,todo,todo,todo
4,NL_Wind_Offshore,2050,True,0.00,0,0.0,todo,todo,todo
...,...,...,...,...,...,...,...,...,...
392,CY_Solar,2050,True,0.00,0,0.0,todo,todo,todo
393,CY_Battery,2050,True,0.00,0,NaN,todo,todo,todo
394,CY_PEMEC,2050,True,0.00,0,NaN,todo,todo,todo
395,CY_PEMFC,2050,True,0.00,0,NaN,todo,todo,todo
396,CY_H2Tank,2050,True,0.00,0,NaN,todo,todo,todo

In [13]:
weird_rows = merged[(merged["investable"] & (merged["investment_cost"] == 0.0))]

In [19]:
weird_rows

,asset,commission_year,fixed_cost,investment_cost,investment_limit,fixed_cost_storage_energy,investment_cost_storage_energy,investment_limit_storage_energy,storage_lost_from_stored_energy,milestone_year,investable,peak_demand,storage_inflows,initial_storage_level,min_energy_timeframe_partition,max_energy_timeframe_partition,units_on_cost
2,NL_E_ENS,2050,Venom,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
8,NL_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
14,BE_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
21,BE_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
27,DE_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
37,DE_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
43,FR_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
54,FR_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
60,DK_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
66,DK_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
72,UK_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
85,IE_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
97,CH_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
110,AT_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
119,AT_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
125,LU_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
132,LU_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
138,CZ_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
148,CZ_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
154,PL_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
168,SE_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
176,SE_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
182,NO_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
193,ES_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
204,ES_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
210,PT_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
223,IT_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
233,IT_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
239,MT_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
247,SI_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
259,HU_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
266,HU_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
272,SK_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
286,LT_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
298,LV_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
309,EE_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
319,FI_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
327,FI_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
333,HR_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
345,GR_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
355,GR_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
361,BG_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
375,RO_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo
384,RO_Blue_Hydrogen,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,NaN,todo,todo,todo
390,CY_E_ENS,2050,todo,0.0,NaN,todo,todo,todo,0,2050,True,0.0,0,0.0,todo,todo,todo