In [1]:
import pandas as pd

In [2]:
asset_df = pd.read_csv('asset-fixed.csv')
asset_commission_df = pd.read_csv('asset-commission-fixed.csv')
asset_milestone_df = pd.read_csv('asset-milestone-fixed.csv')

flow_df = pd.read_csv('flow-fixed.csv')
flow_commission_df = pd.read_csv('flow-commission-fixed.csv')
flow_milestone_df = pd.read_csv('flow-milestone-fixed.csv')

In [3]:
asset_df

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
391,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
392,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [4]:
asset_df = asset_df[~asset_df['asset'].str.contains("Hydro")]

In [5]:
asset_df

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
391,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
392,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,True,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [6]:
asset_commission_df = asset_commission_df[~asset_commission_df['asset'].str.contains("Hydro")]

In [7]:
asset_commission_df

,asset,commission_year,fixed_cost,fixed_cost_storage_energy,investment_cost,investment_cost_storage_energy,investment_limit,investment_limit_storage_energy,storage_loss_from_stored_energy
0,NL_E_Demand,2050,0.0,0.0,0.000000,0.0,NaN,NaN,0
1,BE_E_Demand,2050,0.0,0.0,0.000000,0.0,NaN,NaN,0
2,DE_E_Demand,2050,0.0,0.0,0.000000,0.0,NaN,NaN,0
3,FR_E_Demand,2050,0.0,0.0,0.000000,0.0,NaN,NaN,0
4,DK_E_Demand,2050,0.0,0.0,0.000000,0.0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0
389,FR_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0
390,LV_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0
391,PT_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0
392,SK_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0

In [8]:
asset_milestone_df = asset_milestone_df[~asset_milestone_df['asset'].str.contains("Hydro")]

In [9]:
asset_milestone_df

,asset,initial_storage_level,investable,max_energy_timeframe_partition,milestone_year,min_energy_timeframe_partition,peak_demand,storage_inflows,units_on_cost
0,NL_E_Demand,NaN,False,NaN,2050,NaN,37487.252570,0,0.0
1,BE_E_Demand,NaN,False,NaN,2050,NaN,26322.908650,0,0.0
2,DE_E_Demand,NaN,False,NaN,2050,NaN,125041.124300,0,0.0
3,FR_E_Demand,NaN,False,NaN,2050,NaN,91601.006180,0,0.0
4,DK_E_Demand,NaN,False,NaN,2050,NaN,6316.626413,0,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,NaN,True,NaN,2050,NaN,0.000000,0,0.0
389,FR_Battery,NaN,True,NaN,2050,NaN,0.000000,0,0.0
390,LV_Battery,NaN,True,NaN,2050,NaN,0.000000,0,0.0
391,PT_Battery,NaN,True,NaN,2050,NaN,0.000000,0,0.0
392,SK_Battery,NaN,True,NaN,2050,NaN,0.000000,0,0.0

In [10]:
flow_df

,capacity,carrier,discount_rate,economic_lifetime,from_asset,investment_integer,is_transport,technical_lifetime,to_asset
0,1000.0,electricity,0.0,1.0,NL_E_Balance,True,True,1.0,NL_E_Demand
1,1000.0,electricity,0.0,1.0,NL_E_ENS,True,True,1.0,NL_E_Demand
2,1000.0,electricity,0.0,1.0,NL_Wind_Onshore,True,True,1.0,NL_E_Balance
3,1000.0,electricity,0.0,1.0,NL_Wind_Offshore,True,True,1.0,NL_E_Balance
4,1000.0,electricity,0.0,1.0,NL_Solar,True,True,1.0,NL_E_Balance
...,...,...,...,...,...,...,...,...,...
590,0.0,electricity,0.0,1.0,RO_E_Balance,False,False,1.0,BG_E_Balance
591,0.0,electricity,0.0,1.0,RO_E_Balance,False,False,1.0,HU_E_Balance
592,0.0,electricity,0.0,1.0,CY_E_Balance,False,False,1.0,GR_E_Balance
593,0.0,electricity,0.0,1.0,OBZLL_E_Balance,False,False,1.0,NL_E_Balance
594,0.0,electricity,0.0,1.0,OBZLL_E_Balance,False,False,1.0,UK_E_Balance

In [11]:
flow_df = flow_df[~flow_df['from_asset'].str.contains("Hydro")]
flow_df = flow_df[~flow_df['to_asset'].str.contains("Hydro")]

In [12]:
flow_df

,capacity,carrier,discount_rate,economic_lifetime,from_asset,investment_integer,is_transport,technical_lifetime,to_asset
0,1000.0,electricity,0.0,1.0,NL_E_Balance,True,True,1.0,NL_E_Demand
1,1000.0,electricity,0.0,1.0,NL_E_ENS,True,True,1.0,NL_E_Demand
2,1000.0,electricity,0.0,1.0,NL_Wind_Onshore,True,True,1.0,NL_E_Balance
3,1000.0,electricity,0.0,1.0,NL_Wind_Offshore,True,True,1.0,NL_E_Balance
4,1000.0,electricity,0.0,1.0,NL_Solar,True,True,1.0,NL_E_Balance
...,...,...,...,...,...,...,...,...,...
590,0.0,electricity,0.0,1.0,RO_E_Balance,False,False,1.0,BG_E_Balance
591,0.0,electricity,0.0,1.0,RO_E_Balance,False,False,1.0,HU_E_Balance
592,0.0,electricity,0.0,1.0,CY_E_Balance,False,False,1.0,GR_E_Balance
593,0.0,electricity,0.0,1.0,OBZLL_E_Balance,False,False,1.0,NL_E_Balance
594,0.0,electricity,0.0,1.0,OBZLL_E_Balance,False,False,1.0,UK_E_Balance

In [13]:
flow_commission_df = flow_commission_df[~flow_commission_df['from_asset'].str.contains("Hydro")]
flow_commission_df = flow_commission_df[~flow_commission_df['to_asset'].str.contains("Hydro")]

In [14]:
flow_commission_df

,commission_year,efficiency,fixed_cost,flow_coefficient_in_capacity_constraint,from_asset,investment_cost,investment_limit,to_asset
0,2050,1.0,0.0,1.0,NL_E_Balance,2.695755,NaN,NL_E_Demand
1,2050,1.0,0.0,1.0,NL_E_ENS,2.695755,NaN,NL_E_Demand
2,2050,1.0,0.0,1.0,NL_Wind_Onshore,2.695755,NaN,NL_E_Balance
3,2050,1.0,0.0,1.0,NL_Wind_Offshore,2.695755,NaN,NL_E_Balance
4,2050,1.0,0.0,1.0,NL_Solar,2.695755,NaN,NL_E_Balance
...,...,...,...,...,...,...,...,...
590,2050,1.0,0.0,1.0,RO_E_Balance,0.000000,NaN,BG_E_Balance
591,2050,1.0,0.0,1.0,RO_E_Balance,0.000000,NaN,HU_E_Balance
592,2050,1.0,0.0,1.0,CY_E_Balance,0.000000,NaN,GR_E_Balance
593,2050,1.0,0.0,1.0,OBZLL_E_Balance,0.000000,NaN,NL_E_Balance
594,2050,1.0,0.0,1.0,OBZLL_E_Balance,0.000000,NaN,UK_E_Balance

In [15]:
flow_milestone_df = flow_milestone_df[~flow_milestone_df['from_asset'].str.contains("Hydro")]
flow_milestone_df = flow_milestone_df[~flow_milestone_df['to_asset'].str.contains("Hydro")]

In [16]:
flow_milestone_df

,from_asset,investable,milestone_year,to_asset,variable_cost,reactance,dc_opf
0,NL_E_Balance,True,2050,NL_E_Demand,0.0,0.3,False
1,NL_E_ENS,True,2050,NL_E_Demand,1.0,0.3,False
2,NL_Wind_Onshore,True,2050,NL_E_Balance,0.0,0.3,False
3,NL_Wind_Offshore,True,2050,NL_E_Balance,0.0,0.3,False
4,NL_Solar,True,2050,NL_E_Balance,0.0,0.3,False
...,...,...,...,...,...,...,...
590,RO_E_Balance,False,2050,BG_E_Balance,0.0,0.3,False
591,RO_E_Balance,False,2050,HU_E_Balance,0.0,0.3,False
592,CY_E_Balance,False,2050,GR_E_Balance,0.0,0.3,False
593,OBZLL_E_Balance,False,2050,NL_E_Balance,0.0,0.3,False
594,OBZLL_E_Balance,False,2050,UK_E_Balance,0.0,0.3,False

In [17]:
asset_df.to_csv('asset-no-hydro.csv', index=False)
asset_commission_df.to_csv('asset-commission-no-hydro.csv', index=False)
asset_milestone_df.to_csv('asset-milestone-no-hydro.csv', index=False)
flow_df.to_csv('flow-no-hydro.csv', index=False)
flow_commission_df.to_csv('flow-commission-no-hydro.csv', index=False)
flow_milestone_df.to_csv('flow-milestone-no-hydro.csv', index=False)