In [1]:
import pandas as pd
import numpy as np

In [2]:
assets_rep_periods_partitions_df = pd.read_csv('assets_rep_periods_partitions.csv')

In [3]:
assets_rep_periods_partitions_df

            asset  partition  rep_period specification  year
0     NL_E_Demand          2           1       uniform  2050
1     BE_E_Demand          2           1       uniform  2050
2     DE_E_Demand          2           1       uniform  2050
3     FR_E_Demand          2           1       uniform  2050
4     DK_E_Demand          2           1       uniform  2050
...           ...        ...         ...           ...   ...
3905   BG_Battery          2          10       uniform  2050
3906   FR_Battery          2          10       uniform  2050
3907   LV_Battery          2          10       uniform  2050
3908   PT_Battery          2          10       uniform  2050
3909   SK_Battery          2          10       uniform  2050

[3910 rows x 5 columns]

In [4]:
assets_timeframe_partitions_df = pd.read_csv('assets_timeframe_partitions.csv')

In [5]:
assets_timeframe_partitions_df

                   asset  partition specification  year
0     DE_Hydro_Reservoir          2       uniform  2050
1   DE_Pump_Hydro_Closed          2       uniform  2050
2     DE_Pump_Hydro_Open          2       uniform  2050
3     FR_Hydro_Reservoir          2       uniform  2050
4   FR_Pump_Hydro_Closed          2       uniform  2050
5     FR_Pump_Hydro_Open          2       uniform  2050
6   UK_Pump_Hydro_Closed          2       uniform  2050
7   IE_Pump_Hydro_Closed          2       uniform  2050
8   CH_Pump_Hydro_Closed          2       uniform  2050
9     CH_Pump_Hydro_Open          2       uniform  2050
10    AT_Hydro_Reservoir          2       uniform  2050
11  AT_Pump_Hydro_Closed          2       uniform  2050
12    AT_Pump_Hydro_Open          2       uniform  2050
13  LU_Pump_Hydro_Closed          2       uniform  2050
14    CZ_Hydro_Reservoir          2       uniform  2050
15  CZ_Pump_Hydro_Closed          2       uniform  2050
16    CZ_Pump_Hydro_Open          2       uniform  2050
17    PL_Hydro_Reservoir          2       uniform  2050
18  PL_Pump_Hydro_Closed          2       uniform  2050
19    PL_Pump_Hydro_Open          2       uniform  2050
20    SE_Hydro_Reservoir          2       uniform  2050
21    NO_Pump_Hydro_Open          2       uniform  2050
22    NO_Hydro_Reservoir          2       uniform  2050
23    ES_Hydro_Reservoir          2       uniform  2050
24  ES_Pump_Hydro_Closed          2       uniform  2050
25    ES_Pump_Hydro_Open          2       uniform  2050
26    PT_Hydro_Reservoir          2       uniform  2050
27    PT_Pump_Hydro_Open          2       uniform  2050
28    IT_Hydro_Reservoir          2       uniform  2050
29  IT_Pump_Hydro_Closed          2       uniform  2050
30    IT_Pump_Hydro_Open          2       uniform  2050
31  SI_Pump_Hydro_Closed          2       uniform  2050
32    SK_Hydro_Reservoir          2       uniform  2050
33  SK_Pump_Hydro_Closed          2       uniform  2050
34    SK_Pump_Hydro_Open          2       uniform  2050
35  LT_Pump_Hydro_Closed          2       uniform  2050
36    FI_Hydro_Reservoir          2       uniform  2050
37    HR_Hydro_Reservoir          2       uniform  2050
38    HR_Pump_Hydro_Open          2       uniform  2050
39    GR_Hydro_Reservoir          2       uniform  2050
40  GR_Pump_Hydro_Closed          2       uniform  2050
41    GR_Pump_Hydro_Open          2       uniform  2050
42    BG_Hydro_Reservoir          2       uniform  2050
43  BG_Pump_Hydro_Closed          2       uniform  2050
44    BG_Pump_Hydro_Open          2       uniform  2050
45    RO_Hydro_Reservoir          2       uniform  2050
46    RO_Pump_Hydro_Open          2       uniform  2050

In [6]:
flows_rep_periods_partitions = pd.read_csv('flows_rep_periods_partitions.csv')

In [7]:
flows_rep_periods_partitions

,from_asset,partition,rep_period,specification,to_asset,year
0,NL_E_Balance,2,1,uniform,NL_E_Demand,2050
1,NL_E_ENS,2,1,uniform,NL_E_Demand,2050
2,NL_Wind_Onshore,2,1,uniform,NL_E_Balance,2050
3,NL_Wind_Offshore,2,1,uniform,NL_E_Balance,2050
4,NL_Solar,2,1,uniform,NL_E_Balance,2050
...,...,...,...,...,...,...
5005,RO_E_Balance,2,10,uniform,BG_E_Balance,2050
5006,RO_E_Balance,2,10,uniform,HU_E_Balance,2050
5007,CY_E_Balance,2,10,uniform,GR_E_Balance,2050
5008,OBZLL_E_Balance,2,10,uniform,NL_E_Balance,2050
5009,OBZLL_E_Balance,2,10,uniform,UK_E_Balance,2050

In [8]:
countries_resolutions = [('NL', 1), 
                         ('BE', 2), ('DE', 2), ('UK', 2), ('DK', 2), ('OBZLL', 2), ('EU', 2), 
                         ('FR', 3), ('CH', 3), ('AT', 3), ('IE', 3), ('LU', 3), ('CZ', 3), ('PL', 3), ('NO', 3), ('SE', 3),
                         ('ES', 4), ('IT', 4), ('SI', 4), ('HU', 4), ('SK', 4), ('FI', 4), ('LT', 4),
                         ('PT', 5), ('HR', 5), ('RO', 5), ('GR', 5), ('LV', 5), ('EE', 5), ('CY', 5), ('MT', 5),
                         ('BG', 6)]

In [9]:
partition_map = {
    'NL': 1,
    'BE': 2, 'DE': 2, 'UK': 2, 'DK': 2, 'OBZLL': 2, 'EU': 2,
    'FR': 3, 'CH': 3, 'AT': 3, 'IE': 3, 'LU': 3, 'CZ': 3, 'PL': 3, 'NO': 3, 'SE': 3,
    'ES': 4, 'IT': 4, 'SI': 4, 'HU': 4, 'SK': 4, 'FI': 4, 'LT': 4,
    'PT': 5, 'HR': 5, 'RO': 5, 'GR': 5, 'LV': 5, 'EE': 5, 'CY': 5, 'MT': 5,
    'BG': 6
}

In [10]:
country_dfs = []

for (country_code, country_resolution) in countries_resolutions:
    country_df = assets_rep_periods_partitions_df[assets_rep_periods_partitions_df['asset'].str.contains(country_code)].copy()
    country_df['partition'] = country_resolution
    
    country_dfs.append(country_df)

In [11]:
concated_country_dfs = pd.concat(country_dfs)

In [12]:
concated_country_dfs

                     asset  partition  rep_period specification  year
0              NL_E_Demand          1           1       uniform  2050
31             NL_H_Demand          1           1       uniform  2050
62         NL_electrolyzer          1           1       uniform  2050
93            NL_E_Balance          1           1       uniform  2050
124               NL_E_ENS          1           1       uniform  2050
...                    ...        ...         ...           ...   ...
3822               BG_OCGT          6          10       uniform  2050
3897    BG_Hydro_Reservoir          6          10       uniform  2050
3898  BG_Pump_Hydro_Closed          6          10       uniform  2050
3899    BG_Pump_Hydro_Open          6          10       uniform  2050
3905            BG_Battery          6          10       uniform  2050

[3910 rows x 5 columns]

In [13]:
country_dfs[0]

                 asset  partition  rep_period specification  year
0          NL_E_Demand          1           1       uniform  2050
31         NL_H_Demand          1           1       uniform  2050
62     NL_electrolyzer          1           1       uniform  2050
93        NL_E_Balance          1           1       uniform  2050
124           NL_E_ENS          1           1       uniform  2050
...                ...        ...         ...           ...   ...
3645  NL_Wind_Offshore          1          10       uniform  2050
3646          NL_Solar          1          10       uniform  2050
3647            NL_Gas          1          10       uniform  2050
3648           NL_OCGT          1          10       uniform  2050
3838        NL_Battery          1          10       uniform  2050

[110 rows x 5 columns]

In [14]:
merged = assets_rep_periods_partitions_df.merge(concated_country_dfs[['asset', 'partition', 'rep_period']], on=['asset', 'rep_period'], how='left', suffixes=('', '_y'))

merged['partition'] = merged['partition_y']

merged = merged.drop(columns=['partition_y'])

In [15]:
merged

            asset  partition  rep_period specification  year
0     NL_E_Demand          1           1       uniform  2050
1     BE_E_Demand          2           1       uniform  2050
2     DE_E_Demand          2           1       uniform  2050
3     FR_E_Demand          3           1       uniform  2050
4     DK_E_Demand          2           1       uniform  2050
...           ...        ...         ...           ...   ...
3905   BG_Battery          6          10       uniform  2050
3906   FR_Battery          3          10       uniform  2050
3907   LV_Battery          5          10       uniform  2050
3908   PT_Battery          5          10       uniform  2050
3909   SK_Battery          4          10       uniform  2050

[3910 rows x 5 columns]

In [16]:
merged['partition'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [17]:
merged[merged['partition'].isnull()]

Empty DataFrame
Columns: [asset, partition, rep_period, specification, year]
Index: []

In [18]:
merged.to_csv('assets_rep_periods_partitions-fixed.csv', index=False)

In [19]:
merged = assets_timeframe_partitions_df.merge(concated_country_dfs[['asset', 'partition']].drop_duplicates(subset='asset'), on='asset', how='left', suffixes=('', '_y'))

merged['partition'] = merged['partition_y']

merged = merged.drop(columns=['partition_y'])

In [20]:
merged

                   asset  partition specification  year
0     DE_Hydro_Reservoir          2       uniform  2050
1   DE_Pump_Hydro_Closed          2       uniform  2050
2     DE_Pump_Hydro_Open          2       uniform  2050
3     FR_Hydro_Reservoir          3       uniform  2050
4   FR_Pump_Hydro_Closed          3       uniform  2050
5     FR_Pump_Hydro_Open          3       uniform  2050
6   UK_Pump_Hydro_Closed          2       uniform  2050
7   IE_Pump_Hydro_Closed          3       uniform  2050
8   CH_Pump_Hydro_Closed          3       uniform  2050
9     CH_Pump_Hydro_Open          3       uniform  2050
10    AT_Hydro_Reservoir          3       uniform  2050
11  AT_Pump_Hydro_Closed          3       uniform  2050
12    AT_Pump_Hydro_Open          3       uniform  2050
13  LU_Pump_Hydro_Closed          3       uniform  2050
14    CZ_Hydro_Reservoir          3       uniform  2050
15  CZ_Pump_Hydro_Closed          3       uniform  2050
16    CZ_Pump_Hydro_Open          3       uniform  2050
17    PL_Hydro_Reservoir          3       uniform  2050
18  PL_Pump_Hydro_Closed          3       uniform  2050
19    PL_Pump_Hydro_Open          3       uniform  2050
20    SE_Hydro_Reservoir          3       uniform  2050
21    NO_Pump_Hydro_Open          3       uniform  2050
22    NO_Hydro_Reservoir          3       uniform  2050
23    ES_Hydro_Reservoir          4       uniform  2050
24  ES_Pump_Hydro_Closed          4       uniform  2050
25    ES_Pump_Hydro_Open          4       uniform  2050
26    PT_Hydro_Reservoir          5       uniform  2050
27    PT_Pump_Hydro_Open          5       uniform  2050
28    IT_Hydro_Reservoir          4       uniform  2050
29  IT_Pump_Hydro_Closed          4       uniform  2050
30    IT_Pump_Hydro_Open          4       uniform  2050
31  SI_Pump_Hydro_Closed          4       uniform  2050
32    SK_Hydro_Reservoir          4       uniform  2050
33  SK_Pump_Hydro_Closed          4       uniform  2050
34    SK_Pump_Hydro_Open          4       uniform  2050
35  LT_Pump_Hydro_Closed          4       uniform  2050
36    FI_Hydro_Reservoir          4       uniform  2050
37    HR_Hydro_Reservoir          5       uniform  2050
38    HR_Pump_Hydro_Open          5       uniform  2050
39    GR_Hydro_Reservoir          5       uniform  2050
40  GR_Pump_Hydro_Closed          5       uniform  2050
41    GR_Pump_Hydro_Open          5       uniform  2050
42    BG_Hydro_Reservoir          6       uniform  2050
43  BG_Pump_Hydro_Closed          6       uniform  2050
44    BG_Pump_Hydro_Open          6       uniform  2050
45    RO_Hydro_Reservoir          5       uniform  2050
46    RO_Pump_Hydro_Open          5       uniform  2050

In [21]:
merged.to_csv('assets_timeframe_partitions-fixed.csv', index=False)

In [22]:
flows_rep_periods_partitions

,from_asset,partition,rep_period,specification,to_asset,year
0,NL_E_Balance,2,1,uniform,NL_E_Demand,2050
1,NL_E_ENS,2,1,uniform,NL_E_Demand,2050
2,NL_Wind_Onshore,2,1,uniform,NL_E_Balance,2050
3,NL_Wind_Offshore,2,1,uniform,NL_E_Balance,2050
4,NL_Solar,2,1,uniform,NL_E_Balance,2050
...,...,...,...,...,...,...
5005,RO_E_Balance,2,10,uniform,BG_E_Balance,2050
5006,RO_E_Balance,2,10,uniform,HU_E_Balance,2050
5007,CY_E_Balance,2,10,uniform,GR_E_Balance,2050
5008,OBZLL_E_Balance,2,10,uniform,NL_E_Balance,2050
5009,OBZLL_E_Balance,2,10,uniform,UK_E_Balance,2050

In [23]:
def helper():
    from_code = flows_rep_periods_partitions['from_asset'].str.split('_').str[0]
    to_code = flows_rep_periods_partitions['to_asset'].str.split('_').str[0]
    
    from_val = from_code.map(partition_map)
    to_val = to_code.map(partition_map)
    
    unknown_from = from_code[~from_code.isin(partition_map)]
    unknown_to = to_code[~to_code.isin(partition_map)]

    print("Unknown 'from' codes:", unknown_from.unique())
    print("Unknown 'to' codes:", unknown_to.unique())
    
    return np.minimum(from_val, to_val)

In [24]:
flows_rep_periods_partitions['partition'] = helper()

Unknown 'from' codes: []
Unknown 'to' codes: []

In [25]:
flows_rep_periods_partitions

,from_asset,partition,rep_period,specification,to_asset,year
0,NL_E_Balance,1,1,uniform,NL_E_Demand,2050
1,NL_E_ENS,1,1,uniform,NL_E_Demand,2050
2,NL_Wind_Onshore,1,1,uniform,NL_E_Balance,2050
3,NL_Wind_Offshore,1,1,uniform,NL_E_Balance,2050
4,NL_Solar,1,1,uniform,NL_E_Balance,2050
...,...,...,...,...,...,...
5005,RO_E_Balance,5,10,uniform,BG_E_Balance,2050
5006,RO_E_Balance,4,10,uniform,HU_E_Balance,2050
5007,CY_E_Balance,5,10,uniform,GR_E_Balance,2050
5008,OBZLL_E_Balance,1,10,uniform,NL_E_Balance,2050
5009,OBZLL_E_Balance,2,10,uniform,UK_E_Balance,2050

In [26]:
flows_rep_periods_partitions.to_csv('flows_rep_periods_partitions-fixed.csv', index=False)